@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-light: #FFFFFF;
  --var-dark: #000000;

  --var-white: #F5F7F9;
  --var-main-color: #343a40;
  --var-dark-shades: #24639C;
  --var-hover-dark-shades: #1a456e;

  --var-width-sidebar: 270px;
}

* {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  transition: all 0.3s ease;

}