@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-light: #FFFFFF;
  --var-dark: #000000;
  --var-dark-50: rgba(0, 0, 0, 0.5);
  --var-dark-75: rgba(0, 0, 0, 0.75);
  --var-danger: rgba(236, 16, 16);
  --var-success: #00843D;
  --var-danger-75: rgba(236, 16, 16, 0.75);
  --var-white: #F5F7F9;
  --var-main-color: #343a40;
  --var-dark-shades: #24639C;
  --var-hover-dark-shades: #1a456e;

  --var-width-sidebar: 270px;
}

* {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  transition: all 0.3s ease;
}

svg {
  display: inline-block;
}